<html>
	<head>
		<title>Contatos</title>
		<meta charset="utf-8">

		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/vue-mask.js"></script>
		<script type="text/javascript" src="js/sweetalert2.js"></script>
		<script type="text/javascript" src="js/lodash.js"></script><!--Para ordenacao-->
		<link rel="stylesheet" href="css/sweetalert2.css">
		<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.css"><!--Para so icones-->
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/index.css">
	</head>
	<body>
		<div class="container" id="app">
			<div id="login">
				<div class="acomodar"></div>
					<form v-on:submit.prevent="logar">
						<label for="nome" class="label">Nome: </label>
						<input ref="nomeLogin" v-model="nomeLogin" type="text" class="txt bradius"/>
						<label for="senha" class="label">Senha: </label>
						<input v-model="senha" type="password" class="txt bradius"/>
						<button class="sb bradius btn btn-primary">Logar</button>
					</form>
			</div>
		</div>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>